<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
  <string>{{ label }}</string>
	<key>ProgramArguments</key>
	<array>
      <string>ssh</string>
      <string>-o</string>
      <string>StrictHostKeyChecking=no</string>
      <string>-p</string>
      <string>{{ remote_port }}</string>
      <string>-v</string>
      <string>-ND</string>
      <string>{{ local_port }}</string>
      <string>{{ host }}</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>{{logfile}}</string>
	<key>StandardErrorPath</key>
	<string>{{logfile}}</string>
</dict>
</plist>
